<%- include('../cabecalho') -%>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header"><strong>Admin</strong></div>
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-739">
                                    <form method="post">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Id</label>
                                            <input class="form-control" readonly name="id" id="exampleFormControlInput" type="text" value="<%=Admin.id%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput1">Nome</label>
                                            <input class="form-control" name="nome" id="exampleFormControlInput1" type="text"
                                                placeholder="Digite o nome!" value="<%=Admin.nome%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput2">Email</label>
                                            <input class="form-control" name="email" id="exampleFormControlInput2" type="email"
                                                placeholder="name@example.com" value="<%=Admin.email%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput3">Senha</label>
                                            <input class="form-control" name="senha" id="exampleFormControlInput3" type="password"
                                                placeholder="Digite a senha!" value="<%=Admin.senha%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formFile">Foto</label>
                                            <input class="form-control" name="foto" id="formFile" type="file">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                        <button type="reset" class="btn btn-light">Limpar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../rodape') -%>