<%- include('../cabecalho') -%>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header"><strong>Noticia</strong></div>
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-739">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Id</label>
                                            <input class="form-control" readonly name="id" id="exampleFormControlInput" type="text" value="<%=Noticia.id%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput1">Título</label>
                                            <input class="form-control" name="nome" id="exampleFormControlInput1" type="text"
                                                placeholder="Digite o nome do Noticia!" value="<%=Noticia.titulo%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput3">Notícia</label>
                                            <textarea name="noticia" class="form-control" id="exampleFormControlTextarea3" rows="3"><%=Noticia.noticia%></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formFile">Foto</label>
                                            <input class="form-control" name="foto" id="formFile" type="file">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput5">Data</label>
                                            <input class="form-control" name="data" id="exampleFormControlInput5" type="date"
                                                placeholder="Digite a data de publicação da noticia!" value="<%=moment(Noticia.data).format('YYYY-MM-DD')%>">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formFile">Evento</label>
                                            <select class="form-control" name="eventoId">
                                                <% Eventos.forEach(function(evento) { %>
                                                    <option
                                                        <% if(evento.id == Noticia.eventoId) { %>
                                                            selected="selected"
                                                        <% } %>
                                                        value="<%=evento.id%>">
                                                        <%=evento.nome%>
                                                    </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                        <button type="reset" class="btn btn-light">Limpar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../rodape') -%>